[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.32.2"
pyrate-limiter = "~=3.6.0"

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
